# Web Framework
fastapi

# ASGI Server
uvicorn[standard]

# Database ORM and Driver
sqlalchemy
psycopg2-binary

# Password Hashing
passlib==1.7.4
bcrypt==3.2.0

# JWT for Authentication
python-jose[cryptography]

# Environment Variables
python-dotenv
python-multipart

# Email Validation for Pydantic
email-validator